<app-base>

    <div class="flex flex-col gap-2 max-w-158 mx-auto">

        <a routerLink="/lista" class="flex items-center gap-1 text-brand">
            <hugeicons-icon [icon]="ArrowLeft02Icon" class="text-brand" [size]="26" [strokeWidth]="1.5"></hugeicons-icon>
            Voltar
        </a> 

        <h2 class="text-2xl text-primary font-bold mt-4"> {{ lista?.nome }} </h2>

        <form #formItem novalidate class="flex gap-4 justify-between">
            <input type="text"
            [ngClass]="{'border-danger' : input}"
            [(ngModel)]="itens"
            #itemRef="ngModel"
            name="itens"
            placeholder="Adicionar um novo item" 
            class="border-2 border-bor-primary w-114 hover:border-bor-secondary focus:border-brand transition-all bg-white rounded-xl p-2 px-4">
            <app-button textBtn="Adicionar item" (click)="addItem()"> </app-button>
        </form>

        @if(input){
            <p class="text-danger text-sm">Preencha o campo acima</p>
        }

        <div class="flex flex-col gap-3 mt-6">
            @for (item of lista?.itens; track $index) {
               <article [ngClass]="notifications[$index] ? 'hidden' : 'block'" class="bg-white p-3 rounded-xl shadow-sm w-full relative transition-all">
                    <label class="text-primary cursor-pointer flex items-center space-x-2" [for]="'check' + $index"> 
                        <input type="checkbox" name="check" [id]="'check' + $index" class="peer cursor-pointer size-4 rounded-[5px] checked:bg-brand checked:not-focus:border-brand! focus:ring-brand focus:ring-2">
                        <span class="peer-checked:line-through peer-checked:text-brand"> {{ item }} </span>
                        <hugeicons-icon [icon]="Delete02Icon" class="ms-auto text-secondary hover:text-danger cursor-pointer" [size]="20" [strokeWidth]="1.5" (click)="removeItem($index)"></hugeicons-icon>
                    </label>
                </article>
                <app-notification [ngClass]="notifications[$index] ? 'block' : 'hidden'" class="transition-opacity duration-300"  [visible]="notifications[$index]" (visibleChange)="removeItem($index, false)"></app-notification>
            }
        </div>


    </div>

</app-base>